<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="244" border="1">
  <caption>&nbsp;
  </caption>
  <tr>
    <td width="234"><a href="company_and_approve">view company and approve</a></td>
  </tr>
  <tr>
    <td><a href="/approved_company">view approved company</a></td>
  </tr>
  <tr>
    <td><a href="/rejected_company">view rejected company</a></td>
  </tr>
  <tr>
    <td><a href="/vaccency_list">view vaccency list</a></td>
  </tr>
  <tr>
    <td><a href="/placed_candidates">view placed candidates</a></td>
  </tr>
  <tr>
    <td><a href="/company_review">view company review</a></td>
  </tr>
</table>
</body>
</html>
