{% extends "company/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/edit_vacancy_post/{{ data.id }}">
  <table width="450" height="274" border="1"CLASS="table table-bordered">
    <tr>
      <th width="100" scope="row">vacancy</th>
      <td width="386"><label for="textfield"></label>
      <input type="text" name="type" id="textfield" value="{{ data.vacancy_type }}"class="form-control" required /></td>
    </tr>
    <tr>
      <th scope="row">jobtitle</th>
      <td><label for="textfield2"></label>
      <input type="text" name="title" id="textfield2" value="{{ data.job_title }} "class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">job requirments</th>
      <td><label for="textarea"></label>
      <textarea name="re" id="textarea"  cols="45" rows="5" class="form-control" required>{{ data.job_requirement }}</textarea></td>
    </tr>
    <tr>
      <th scope="row">Apply date</th>
      <td><label for="textfield3"></label>
      <input type="text" name="date" id="textfield3" value="{{ data.apply_date }}"class="form-control" required/></td>
    </tr>

    <tr>
      <th scope="row">salary</th>
      <td><label for="textfield5"></label>
      <input type="text" name="salery" id="textfield5" value="{{ data.salary }}" class="form-control" required/></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="edit" class="form-control" required/></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}