{% extends "company/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/vacancy_post">
  <table width="450" height="274" border="1"CLASS="table table-bordered">
    <tr>
        <th width="100" scope="row"><b>VACANCY</b></th>
      <td width="386"><label for="textfield"></label>
      <input type="text" name="type" id="textfield"class="form-control" required /></td>
    </tr>
    <tr>
      <th scope="row"><b>JOB TITLE</b></th>
      <td><label for="textfield2"></label>
      <input type="text" name="title" id="textfield2" class="form-control" required/></td>
    </tr>
    <tr>
        <th scope="row"><b>JOB REQUIRMENT</b></th>
      <td><label for="textarea"></label>
      <textarea name="re" id="textarea" cols="45"class="form-control" required rows="5"></textarea></td>
    </tr>
    <tr>
        <th scope="row"><b>APPLY DATE</b></th>
      <td><label for="textfield3"></label>
      <input type="date" name="date" id="textfield3" class="form-control" min="{{ rdate }}" required /></td>
    </tr>

    <tr>
      <th scope="row"><b>SALARY</b></th>
      <td><label for="textfield5"></label>
      <input type="text" name="salery" id="textfield5" class="form-control" required/></td>
    </tr>
      <tr>
      <th scope="row"><b>Cutoff</b></th>
      <td><label for="textfield5"></label>
      <input type="number" name="cutoff" id="cutoff" class="form-control" required/></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><div align="center"> <input type="submit" class="btn btn-dark" name="button" id="button" value="add" /></div></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}