<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/login_post">
  <table width="200" border="1">
    <tr>
      <th scope="col">Username</th>
      <th scope="col"><label for="username"></label>
      <input type="text" name="username" id="username" /></th>
    </tr>
    <tr>
      <td>Password</td>
      <td><label for="password"></label>
      <input type="text" name="password" id="password" class="form-control"  required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="button" id="button" value="LOGIN" /><br>
      <a href="/company_reg">company register</a> </td>
    </tr>
      <tr>
      <td colspan="2">
      <a href="/signup">user register</a> </td>
    </tr>
  </table>
</form>
</body>
</html>
